body {
  background-image: url('../img/noise_lines.png');
  background-repeat: both;
}

ul.site-info label {
  display: inline;
}

h2 small {
  font-size: 15px;
}

button.delete-site {
  margin-top: 10px;
}
